@import "~bootstrap/scss/bootstrap";
*, :after, :before {
    box-sizing: border-box;
    border: 0 solid #e5e7eb;
}
body {
    --tw-bg-opacity: 1;
    --tw-text-opacity: 1;
    background-color: rgb(15 23 42/var(--tw-bg-opacity));
    color: rgb(255 255 255/var(--tw-text-opacity));
}

@font-face {
    font-family: "SF mono";
    src: url("./fonts/SFMonoLigaturized-Regular.ttf");
  }